/* --------------------------------------- START CSS 
--------------------------------------- */
:root{
    --borderW:1px solid white;
    --borderB:1px solid black;
}
body{
    padding: 0;
    margin: 0;
}
/* --------------------------------------- HEADER --------------------------------------- */
header{
    position: relative;
    color: #DFE2E7;
    background-color: rgba(255, 100, 100, 0.4);
    background: url('/public/img/glo-empire-state-building-usa.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    z-index: 1;
}
header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99.2vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
nav {
    position: fixed;
    display: grid;  
    width: 100%;
    justify-items: center;  
    background: rgb(52,58,64);
    color:#F9F8FA;
    z-index: 100;
    padding: 0.3vw ;
}
.nav-container{
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
}
.brand{
    font-size: xx-large;
}
body > header > nav > div > div > p{
    margin: 0;
}
nav ul{
    display: flex;
    list-style: none;
    font-size: large;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: fit-content;
    gap: 2vw;
}
.nav-container li:not(li>button){
    padding: 0.5vw;
}
button.orange{
    background-color: #FF9B45;
    border: 1px solid #FF9B45;
    border: 3px;
    padding: 0.5vw;
}
.header-content{
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    padding: 8vw;
    gap: 4vw;
}
.presentation{
    z-index: 3;
}
.presentation,.presentation > *{
    /* border: 1px solid white; */
}
.presentation h3,.presentation h4{
    font-size:xx-large;
    font-weight: 400;
}
.presentation h3{
    margin-bottom: 1vw;
}
.presentation h4{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
header hr{
    background: #DFE2E7;
    width: 10%;
    height: 0.1vw;
    margin-left: 0;
    border: 2px solid #DFE2E7;
    border-radius: 10px;
}
.presentation p{
    font-size: large;
}
.presentation button {
    border: 1px solid #DFE2E7;
    padding: 0.6vw 1vw;
    background: transparent;
    color: #DFE2E7;
}
.try{
    background: #F9F8FA;
    border-radius: 3px;
    z-index: 3;
}
.try div{
    display: flex;
    background: #F9F8FA;
    font-size: large;
    color: black;
    justify-content: center;
    padding: 0.5vw 0;
    margin-bottom: 0.5vw;
    border-radius: 3px 3px 0 0;
}
.try form{
    display: flex;
    position: relative;
    flex-direction: column;
    background: #F9F8FA;
    height: fit-content;
    border-radius: 0 0 3px 3px;
    
}
.try form input{
    margin: 0.5vw 1vw;
    padding: 0.5vw;
    outline-color: #FF9B45;
}
.try button {
    margin-top: 2vw;
    padding: 1vw;
    border-radius: 0 0 3px 3px;
}
span.orange{
    color: #FF9B45;
}

/* --------------------------------------- SCOCIAL MEDIA --------------------------------------- */
.social-media-container{
    box-shadow: -2px -13px 20px 0px black;
    width: 100%;
}
.social-media{
    width: 60%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background: #FFFFFF;
    
}
.social-txt h5{
    font-size:large;
    margin: 0;
    margin-top: 1vw;
}
.social-txt p{
    margin-top: 0.1vw;
    padding-right: 2vw;
}
.social-icon {
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
}
.social-icon i{
    color: #ADB5BD;
    font-size: xxx-large;
    transition: color 500ms;
}
.social-icon i:hover{
    color: #FF9B45;
    transition: color 500ms;
}
/* --------------------------------------- SECTION 1 --------------------------------------- */
section:nth-child(odd){
    background: #EBF1FC;
    
}
.s1-container{
    display: grid;
    justify-items: center;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 1fr 5fr 5fr;
    padding: 5vw;
}
.tabs{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.tabs > button{
    padding: 1.5vw;
    border: none;
    box-shadow: 0 0 4px #e6e0e0;
    transition: box-shadow 500ms;
}
.tabs > button:hover{
    box-shadow: 0 0 4px #cac4c4;;
    transition: box-shadow 500ms;
}
.titles{
    padding: 2vw;
    padding-top: 0;
}
.titles h4 {
    margin-top: 0;
}
.title-1>button{
    box-shadow: 0 0 4px #8a8686;
    transition: box-shadow 500ms;
}
.title-1>button:hover{
    box-shadow: 0 0 4px #2d2d2d;
    transition: box-shadow 500ms;
}
.s1-img img{
    width: 15vw;
    height: 15vw;
}

/* --------------------------------------- SECTION 2 --------------------------------------- */
section:nth-of-type(2){
    width: 60%;
    margin: 0 auto;
}
.s2-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vw;
}
.s2-container img {
    width: 20vw;
    padding-top: 3vw;
}
.media-list{
    position: relative;
}
.media-list h4{
    font-size: large;
    margin-top: 0;
    margin-bottom: 0.3vw;
}
.media-list p{
    margin-top: 0;
    margin-bottom: 1vw;
}
.media-list > ul{
    list-style: none;
}
.media-list > ul>*{
    margin: 0;
    padding: 0;
}
.media-list > ul> li > *{
    margin: 0;
    padding: 0;
    
}
.media-list > ul> li > h5{
    font-weight: 800;
    font-size: medium;
    margin-bottom: 0.2vw;
}
.media-list > ul> li > p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vw;
    font-size: large;
}
.list-icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    gap: 1.5vw;
}
/* --------------------------------------- SECTION 3 --------------------------------------- */
.s3-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vw;
    width: 60%;
    margin: 0 auto;
}
.s3-img{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.s3-container img {
    width: 20vw;
    padding-top: 3vw;
}
/* --------------------------------------- SECTION 4 --------------------------------------- */
.s4-container{
    display: grid;
    padding: 5vw;
    width: 60%;
    margin: 0 auto;
    font-size: xx-large;
}
.header-s4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-s4 h5{
    margin-bottom: 0.5vw;
}
.header-s4 hr{
    margin: 0;
    width: 10vh;
    border: 2px solid #FF9B45;
    border-radius: 5px;
}
.header-s4 p{
    margin-top: 0.5vw;
    font-size: medium;
    padding-bottom: 3vw;
}
.s4-container  > .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.s4-container  > .cards h5{
    margin: 1vw;
    text-align: center;
    margin-bottom: 0;
}
.s4-container  > .cards p{
    margin-top: 0;
    font-size: medium;
    padding: 1vw;
}
.cards i{
    display: flex;
    justify-content: center;
    color: #FF9B45;
}
/* --------------------------------------- SECTION 5 --------------------------------------- */
.s5-container{
    display: grid;
    padding: 5vw;
    width: 60%;
    margin: 0 auto;
    font-size: xx-large;
}
.header-s5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-s5 h5{
    margin-bottom: 0.5vw;
}
.header-s5 hr{
    margin: 0;
    width: 10vh;
    border: 2px solid #FF9B45;
    border-radius: 5px;
}
.header-s5 p{
    margin-top: 0.5vw;
    margin-bottom: 0;
    font-size: medium;
    padding-bottom: 3vw;
}
.s5-container  > .cards{
    display: grid;
    align-items: end;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;
    
}
.heading{
    background: #343A40;
    color: #DFE2E7;
}
.argent{
    font-size: xx-large;
}
div.cards > div.card1 > div:nth-child(2) > hr.orange,
div.cards > div.card3 > hr{
    margin-top: 0;
}
.cards p {
    text-align: center;
}
.s5-container  > .cards>div{
    /* border: 1px solid black; */
    transform: scale(1.0);
    box-shadow: 0px 0px 7px #d2c7c7;
    transition: transform 500ms,box-shadow 500ms;
}
.s5-container  > .cards>div:hover{
    /* border: 1px solid black; */
    transform: scale(1.01);
    box-shadow: 0px 0px 7px #787171;
    transition: transform 500ms,box-shadow 500ms;
}
.s5-container  > .cards h5{
    margin: 0;
    text-align: center;
    /* margin-bottom: 0; */
}
.box p{
    padding: 1vw;
}
.box p:last-of-type{
    margin-bottom: 0;
}
.heading h5{
    padding: 1vw;
}
.heading div{
    padding: 1vw;
}
.heading > hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #474C55;
}
.heading > hr.orange {
    border: 2px solid #FF9B45;

}
p.orange{
    background: #FF9B45;
    padding: 0.5vw !important;
    margin-bottom: 0;
    color: #F9F8FA ;
}
.box > hr {
    border: #F5F7F9;
}
.box{
    background-color: white;
}
.s5-container  > .cards p{
    margin-top: 0;
    font-size: medium;
    /* padding: 0vw; */
}
/* --------------------------------------- SECTION 6 --------------------------------------- */
.s6-container{
    display: grid;
    padding: 5vw;
    width: 60%;
    margin: 0 auto;
    font-size: xx-large;
}
.header-s6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-s6 h5{
    margin-bottom: 0.5vw;
}
.header-s6 hr{
    margin: 0;
    width: 10vh;
    border: 2px solid #FF9B45;
    border-radius: 5px;
}
.header-s6 p{
    margin-top: 0.5vw;
    margin-bottom: 0;
    font-size: medium;
    padding-bottom: 3vw;
}
.message{
    padding: 1vw;
    background: #EFF0F3;
    border-radius: 5px;
}
.message p{
    /* padding: 2vw 0; */
    font-size: medium;
}
.s6-container  > .cards{
    display: grid;
    align-items: end;
    grid-template-columns: repeat(3,1fr);
    gap: 1vw;
    
}
.user{
    display: flex;
    padding: 0.7vw;
    font-size: medium;
}
.user p {
    text-align: start;
}
.user img {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}
/* --------------------------------------- SECTION 7 --------------------------------------- */
.s7-container{
    position: relative;
    color: #DFE2E7;
    background-color: rgba(255, 100, 100, 0.4);
    background: url('/public/img/glo-empire-state-building-usa.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    z-index: 1;
    padding: 5vw;
}
.s7-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99.2vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.box-container{
    display: absolute;
    width: 60%;
    margin: 0 auto;
    z-index: 3000 !important;
    color: #FFFFFF;
}
.box-container hr.orange{
    border-color: #FF9B45;
}

